@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    margin: 0;
    padding: 0;
    border: 0;
  --primary-color:#102B3F;
    --secondary-blue:#0C00CB;
    font-family: 'Quicksand', sans-serif;
}
.nav-logo a, h1{
    font-weight: 300;
    margin: auto;
    margin-left: 1rem;
    
}
.nav{
   height: 3.5rem;
}
.home-parent{
    margin-top: -1rem;
    background-color: whitesmoke;
    height:85vh 
}
.hero{
    width: 90%;
    margin: 1rem auto;
}
.hero-subtitle{
    margin: 1rem;
    font-size: 1.5rem;
}
.hero-subtitle span{
    font-weight: 600;
}
.email-input{
   display: flex;
   justify-content: center;
    align-items: center;
    margin: 1rem auto;
    margin-top: 5rem;
    /* padding: 0.5rem; */
    margin-bottom: 30rem;
    text-align: center;
    
}
.email-field{
    display: inline;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    height: 100%;
    /* width: 18%; */
    padding-right: 2.5rem;
}
.send-flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   border: 1px solid var(--primary-color);
   border-radius: 0.25rem;
   padding: 0.45rem; 
   margin-left: -2.5rem;
 background-color: white;
}
.send-flex-wrapper:hover{
    background-color: var(--primary-color);
    color: white;
}
.send-flex-wrapper:hover .send-icon{
    color: white;
}
.send-icon{ 
    border-radius: 0.25rem;
    margin: auto;
        font-size: 1rem;
    color: var(--primary-color);
    width: 1.5rem;
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:var(--primary-color);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-text{
    color: white;
  }


